<div class="footer">
    <ul class="social">
      <li>
        <a href="https://github.com/Project-dev2" target="_blank" class="github">
            <i class="bi bi-github"></i>
        </a>
      </li>
      <li>
        <a routerLink="" class="facebook">
            <i class="bi bi-facebook"></i>
        </a>
      </li>
      <li>
        <a routerLink="" class="instagram">
            <i class="bi bi-instagram"></i>
        </a>
      </li>
      <li>
        <a routerLink="" class="linkedin">
            <i class="bi bi-linkedin"></i>
        </a>
      </li>
    </ul>
    <div class="copyright mt-0">&copy; Copyright <span>Malek</span>. All Rights Reserved</div>
</div>