  .footer {
    background-color: #eaecee;
    text-align: center;
    padding: 30px;
  }
  .footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer .social li {
    margin-right: 10px;
    list-style: none;
  }
  .footer .social li a {
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  .footer .social .facebook {
    background-color: #1877f2;
  }
  .footer .social .facebook:hover {
    background-color: #5897eb;
  }
  .footer .social .instagram {
    background-color: #dd2a7b;
  }
  .footer .social .instagram:hover {
    background-color: #db659a;
  }
  .footer .social .linkedin {
    background-color: #0077b5;
  }
  .footer .social .linkedin:hover {
    background-color: #2197d6;
  }
  .footer .social .github {
    background-color: #3f3e3e;
  }
  .footer .social .github:hover {
    background-color: #6e6a6a;
  }
  .footer .copyright {
    color: #626262;
    font-weight: 400;
    font-size: 15px;
  }
  .footer span {
    font-weight: bold;
  }