<header class="header-wrap">
    <div class="mainInner">
      <input type="checkbox" id="off-navmenu" class="off-navmenu hidden">
      <label for="off-navmenu" class="cover navC"></label>

      <!-- Header title -->
      <div class="navbar-title">
        <h1><span class="title">Malek</span></h1>
      </div>

      <!-- Navigation bar -->
      <nav class="navbar-menu">
        <!-- Close button -->
        <div class="navbar-close">
          <label for="off-navmenu">
            <svg viewBox="0 0 24 24">
              <line x1="18" x2="6" y1="6" y2="18"></line>
              <line x1="6" x2="18" y1="6" y2="18"></line>
            </svg>
          </label>
        </div>

        <ul>
          <li><a routerLink="" class="link">Home</a></li>
          <li><a routerLink="/about" class="link">About</a></li>
          <li><a routerLink="/resume" class="link">Resume</a></li>
          <li><a routerLink="/portfolio" class="link">Portfolio</a></li>
          <li><a routerLink="/contact" class="link">Contact</a></li>
        </ul>
      </nav>

      <div class="navbar-icon">
        <!-- Toggle menu -->
        <label aria-label="Navigation menu" for="off-navmenu">
          <svg viewBox="0 0 24 24">
            <line x1="3" x2="21" y1="12" y2="12"></line>
            <line x1="3" x2="21" y1="6" y2="6"></line>
            <line x1="3" x2="21" y1="18" y2="18"></line>
          </svg>
        </label>
      </div>
    </div>
</header>