<section class="about" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
    <h2 class="main-heading">About</h2>
      <div class="container">
        <div class="image">
          <img src="assets/imgs/about.jpg" class="img-fluid" />
        </div>
        <div class="text">
          <p>
            I am a person who is passionate about everything related to IT and
            I am quite ambitious when it comes to discovering new
            technologies. I always try to develop my knowledge and skills in
            the IT world on my own with only personal knowledge and for this
            reason I consider myself self-taught. I would like to acquire new
            skills and challenges to enhance my experience in the professional
            world.
          </p>
          <div class="card border-0 mb-4">
            <p><span class="fw-bold text-dark">Birthday :</span> 07 August 1997</p>
            <p><span class="fw-bold text-dark">Phone :</span> (+216) 58 787 449</p>
            <p><span class="fw-bold text-dark">City :</span> Tunisia</p>
          </div>
          <div class="card border-0">
            <p><span class="fw-bold text-dark">Age :</span> 25</p>
            <p><span class="fw-bold text-dark">Degree :</span> Master</p>
            <p><span class="fw-bold text-dark">Email :</span> koukimalek97@gmail.com</p>
          </div>
        </div>
      </div>
</section>