
    <section class="contact" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
      <h2 class="main-heading">Contact</h2>
      <div class="container">
        <div class="row text-center">
          <div class="col-sm-6 col-md-4 col-lg-4 mb-4">
            <div class="card border-0">
              <div class="h1 mt-4">
                <i class="bi bi-geo-alt"></i>
              </div>
              <div class="card-body text-center">
                <h4>Location</h4>
                <p class="card-title">Tunisia</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4 col-lg-4 mb-4">
            <div class="card border-0">
              <div class="h1 mt-4">
                <i class="bi bi-envelope"></i>
              </div>
              <div class="card-body text-center">
                <h4>Email</h4>
                <p class="card-title">koukimalek97@gmail.com</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4 col-lg-4 mb-4">
            <div class="card border-0">
              <div class="h1 mt-4">
                <i class="bi bi-telephone"></i>
              </div>
              <div class="card-body text-center">
                <h4>Call</h4>
                <p class="card-title">(+216) 58 787 449</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <button (click)="topFunction()" type="button" class="btn btn-lg" id="btn-back-to-top">
      <i class="bi bi-arrow-up"></i>
    </button>