/* ----- # Start Title # ----- */
.main-heading {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    position: relative;
    margin-bottom: 65px;
    color: #626262;
    text-transform: uppercase;
    margin-top: 140px;
  }
  .main-heading::before {
    content: "";
    position: absolute;
    background-color: #005238;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
    width: 50px;
    height: 3px;
  }
  #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #005238;
    color: #fff;
    border-radius: 50%;
    display: none;
    z-index: 1;
  }
  #btn-back-to-top:hover {
    background-color: #127757;
  }
  /* ----- # End Title # ----- */

  .contact .card {
    color: #fff;
    background-color: rgb(18 119 80 / 75%);
  }
  .contact .card h4 {
    font-weight: bold;
    color: #fff;
  }