<section class="interests">
    <h2 class="main-heading" 
    data-aos="zoom-in" 
    data-aos-duration="1000" 
    data-aos-once="true">
      Interests
    </h2>
    <div class="container">
      <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="box mb-3 bg-white" data-work="Swimming">
              <img
                class="img-fluid"
                src="assets/imgs/interests/interests01.jpg"
                alt=""
                data-aos="zoom-in" 
                data-aos-duration="1000" 
                data-aos-once="true"
              />
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="box mb-3 bg-white" data-work="Trainning">
              <img
                class="img-fluid"
                src="assets/imgs/interests/interests02.jpg"
                alt=""
                data-aos="zoom-in" 
                data-aos-duration="1000" 
                data-aos-once="true"
              />
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="box mb-3 bg-white" data-work="Hiking">
              <img
                class="img-fluid"
                src="assets/imgs/interests/interests03.jpg"
                alt=""
                data-aos="zoom-in" 
                data-aos-duration="1000" 
                data-aos-once="true"
              />
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="box mb-3 bg-white" data-work="Camping">
              <img
                class="img-fluid"
                src="assets/imgs/interests/interests04.jpg"
                alt=""
                data-aos="zoom-in" 
                data-aos-duration="1000" 
                data-aos-once="true"
              />
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="box mb-3 bg-white" data-work="Coding">
              <img
                class="img-fluid"
                src="assets/imgs/interests/interests05.jpg"
                alt=""
                data-aos="zoom-in" 
                data-aos-duration="1000" 
                data-aos-once="true"
              />
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="box mb-3 bg-white" data-work="Cooking">
              <img
                class="img-fluid"
                src="assets/imgs/interests/interests06.jpg"
                alt=""
                data-aos="zoom-in" 
                data-aos-duration="1000" 
                data-aos-once="true"
              />
            </div>
          </div>
      </div>
    </div>
</section>