  /* ----- # Start Title # ----- */
  .main-heading {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    position: relative;
    margin-bottom: 65px;
    color: #626262;
    text-transform: uppercase;
  }
  .main-heading::before {
    content: "";
    position: absolute;
    background-color: #005238;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
    width: 50px;
    height: 3px;
  }
  #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #005238;
    color: #fff;
    border-radius: 50%;
    display: none;
    z-index: 1;
  }
  #btn-back-to-top:hover {
    background-color: #127757;
  }
  /* ----- # End Title # ----- */

  .interests .row img {
    height: 17rem;
    width: 26rem;
  }
  @media (max-width: 565px) {
    .interests .row img {
      width: 100%;
    }
  }
  .interests .row .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
  }
  .interests .row .box::before {
    content: attr(data-work);
    position: absolute;
    background-color: rgb(185 220 164 / 75%);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(calc(-100% - 5px));
    z-index: 1;
  }
  .interests .row .box:hover::before {
    transform: translateX(0);
  }