<section class="portfolio" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
    <h2 class="main-heading">Portfolio</h2>
    <p>Some Works from my portfolio</p>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
              <a
                href="https://project-dev2.github.io/ProjectCabinet/"
                target="_blank">
                <div class="card mb-4 border-0">
                  <img src="assets/imgs/portfolio/portfolio01.png" />
                </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-4">
              <a
                href="https://project-dev2.github.io/ProjectSchool/"
                target="_blank">
                <div class="card mb-4 border-0">
                  <img src="assets/imgs/portfolio/portfolio02.png" />
                </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-4">
              <a
                href="https://project-dev2.github.io/ProjectPara/"
                target="_blank">
                <div class="card mb-4 border-0">
                  <img src="assets/imgs/portfolio/portfolio03.png" />
                </div>
              </a>
            </div>
        </div>
    </div>
</section>
<button (click)="topFunction()" type="button" class="btn btn-lg" id="btn-back-to-top">
    <i class="bi bi-arrow-up"></i>
</button>