<section class="resume" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
    <h2 class="main-heading">Resume</h2>
    <div class="container">
        <div class="timeline-content">
            <div class="title">Education</div>
            <div class="left">
              <div class="content">
                <h3>Master Of Services And Network Security</h3>
                <p>2019 - 2021</p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="right">
              <div class="content">
                <h3>Applied Licence In Industrial IT</h3>
                <p>2016 - 2019</p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="left">
              <div class="content">
                <h3>Bachelor In Technical Sciences</h3>
                <p>2015 - 2016</p>
              </div>
            </div>
          </div>
    </div>
</section>
<button (click)="topFunction()" type="button" class="btn btn-lg" id="btn-back-to-top">
    <i class="bi bi-arrow-up"></i>
</button>